In [16]:
import pandas as pd
from io import StringIO

col_names = ['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre', 'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post',
             'elo2_post', 'qbelo1_pre', 'qbelo2_pre', 'qb1', 'qb2', 'qb1_value_pre', 'qb2_value_pre', 'qb1_adj', 'qb2_adj', 
             'qbelo_prob1', 'qbelo_prob2', 'qb1_game_value', 'qb2_game_value', 'qb1_value_post', 'qb2_value_post', 'qbelo1_post',
             'qbelo2_post', 'score1', 'score2', 'quality', 'importance', 'total_rating']

# load dataset
data = pd.read_csv("nfl_elo.csv", header=None, names=col_names)
data = data.drop(0)

In [17]:
# Loop through rows and replace NaN values in 'playoff' with 'r', signifying "Regular Season"
for index, row in data.iterrows():
    if pd.isna(row['playoff']):
        data.at[index, 'playoff'] = 'r'        

# Dropping last 3 columns        
data = data.drop(['quality', 'importance', 'total_rating'], axis=1)

In [18]:
# Function to add column for win/loss result. 0 means team1 lost, 1 means team1 won. -1 indicates a tie.
def compare_scores(score1, score2):
    if score1 < score2:
        return 0
    elif score1 > score2:
        return 1
    else:
        return -1  # Return a special value indicating that the scores are equal

data['outcome'] = data.apply(lambda row: compare_scores(float(row['score1']), float(row['score2'])), axis=1)

# Remove rows where the scores are equal
data = data[data['outcome'] != -1]

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15069 entries, 1 to 15217
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            15069 non-null  object
 1   season          15069 non-null  object
 2   neutral         15069 non-null  object
 3   playoff         15069 non-null  object
 4   team1           15069 non-null  object
 5   team2           15069 non-null  object
 6   elo1_pre        15069 non-null  object
 7   elo2_pre        15069 non-null  object
 8   elo_prob1       15069 non-null  object
 9   elo_prob2       15069 non-null  object
 10  elo1_post       15069 non-null  object
 11  elo2_post       15069 non-null  object
 12  qbelo1_pre      15069 non-null  object
 13  qbelo2_pre      15069 non-null  object
 14  qb1             15069 non-null  object
 15  qb2             15069 non-null  object
 16  qb1_value_pre   15069 non-null  object
 17  qb2_value_pre   15069 non-null  object
 18  qb1_adj         15069 non-null  object
 19  qb2_adj         15069 non-null  object
 20  qbelo_prob1     15069 non-null  object
 21  qbelo_prob2     15069 non-null  object
 22  qb1_game_value  15069 non-null  object
 23  qb2_game_value  15069 non-null  object
 24  qb1_value_post  15069 non-null  object
 25  qb2_value_post  15069 non-null  object
 26  qbelo1_post     15069 non-null  object
 27  qbelo2_post     15069 non-null  object
 28  score1          15069 non-null  object
 29  score2          15069 non-null  object
 30  outcome         15069 non-null  int64
dtypes: int64(1), object(30)
memory usage: 3.7+ MB